aws-lambda-powertools==2.13.0
colorama==0.4.6
exceptiongroup==1.1.1
iniconfig==2.0.0
jmespath==1.0.1
packaging==23.1
pluggy==1.0.0
pydantic==1.10.7
pymysql==1.0.3
pytest==7.3.1
tomli==2.0.1
typing-extensions==4.5.0
